<div class="container">
    <div class="row">
        <div class="col bg-danger">
            <img src="../../../assets/photo-1612720779828-8ba209f069ff.jpeg" class="img-fluid" alt="...">
        </div>
        <div class="col bg-warning">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde odit iure incidunt sint temporibus dolorum
            officia laboriosam ducimus itaque alias perferendis aut, suscipit sed sequi distinctio modi eaque earum
            quasi? Accusamus ducimus minus, aspernatur deleniti rem repudiandae laboriosam ratione et eius officia
            consequuntur, corporis cum. Omnis iure exercitationem quod dolorum!
        </div>
    </div>
    <div class="row">
        <div class="col bg-primary">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptas ad impedit aperiam?
            Voluptates mollitia provident porro eum, ipsam cumque possimus! Ipsum rem vel inventore natus sequi nemo
            doloribus soluta impedit beatae nihil delectus eos commodi quisquam possimus cum dolorum distinctio, quae
            velit pariatur adipisci labore, itaque minima? Quia totam minima expedita possimus. Consequuntur odit beatae
            illo, excepturi quidem dolor odio similique dolores consequatur nulla quos necessitatibus. Expedita nesciunt
            eveniet accusantium atque nam doloremque tempora molestias sequi? Magnam, sunt alias deleniti ratione quo
            obcaecati, nulla veritatis amet ea praesentium eaque dicta. Magni ratione dicta deleniti nam commodi impedit
            nobis alias!
        </div>
        <div class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quis alias facilis quisquam, expedita
            necessitatibus pariatur ut voluptate esse nostrum aliquam sit! Eveniet facere, ab quibusdam odit labore
            quaerat natus explicabo deserunt assumenda, corrupti aliquam vitae esse minus est doloribus cupiditate
            voluptatum, laboriosam officiis? Neque consequatur obcaecati laborum exercitationem, repudiandae laudantium
            a, sed reprehenderit non, numquam est. Nulla, quae sit et ipsum deleniti vitae sunt tempore, delectus
            repudiandae porro eaque eligendi velit, quos molestiae distinctio? Maiores, vel. Optio sint laudantium eos
            et hic accusantium quia iure, distinctio eligendi consectetur nobis labore nihil sunt laboriosam id commodi
            voluptas fuga tempora reprehenderit?
        </div>
    </div>
</div>