<!--Main Start-->
<div class="main">
    <!--Navbar Start-->
    <!-- <nav class="navbar  navbar-expand-lg navbar-dark bg-transparent" style="font-family: 'Luckiest Guy', cursive;">
        <a class="navbar-brand" href="#" style="padding-left: 150px; font-size: 40px; ">Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="margin-left: 35%; font-size: 20px;">
                <a class="nav-item nav-link active" href="#" id="navicon">Home <span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#" id="navicon">About Ntini</a>
            </div>
        </div>
    </nav> -->
    <!--Navbar End-->
    <div class="lefttext">
        <div class="textwrap">
            <h1>
                Simon Ntini
            </h1>
            <p>
                Lionel Andrés Messi (born 24 June 1987), also known as Leo Messi, is an Argentine professional
                footballer who captains the Argentina national team and plays for Ligue 1 club Paris Saint-Germain.
            </p>
            <button>Contact</button>
        </div>


    </div>
    <div class="rightimage">
        <img src="../../../assets/photo-1612720779828-8ba209f069ff.jpeg">
    </div>
</div>