<div class="container mt-5" id="about">
  <h2 class="textColor">Resume</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa odit voluptatem, ad, necessitatibus rem a omnis
    asperiores provident id non, nam maxime. Porro nemo nam culpa possimus dolorum eveniet ab rerum delectus. Iusto
    optio itaque tenetur ipsum maxime repudiandae sunt.</p>

  <div class="container mt-3">
    <div class="row">
      <div class="col">
        <h3 class="textColor">Summary</h3>
        <h4 class="textColor">Simon Ntini</h4>
        <p>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing
          user-centered digital/print marketing material from initial concept to final, polished deliverable.</p>
        <ul>
          <li>Portland par 127,Orlando, FL</li>
          <li>(123) 456-7891</li>
          <li>alice.barkley@example.com</li>
        </ul>

        <!-- Education -->
        <h3 class="textColor">Eduaction</h3>
        <h4 class="textColor">Computer systems Engineering</h4>
        <p>2017-2022</p>
        <h5 class="textColor">Tshwane University of Technology</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, provident!</p>
        <!-- end of Education -->
      </div>
      <div class="col">
        <h3 class="textColor">Professional Experience</h3>
        <h4 class="textColor">Intern at <a href="Url(/https://www.thedigitalacademy.co.za/)" class="textColor">The Digital Academy</a></h4>
        <h6 class="textColor">December 2021 - May 2022</h6>
        <p>Milpark, Johannesburg, ZA</p>
        <ul>
          <li>Lead in the design, development, and implementation of the graphic, layout, and production communication
            materials</li>
          <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project.</li>
          <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>