
<!-- <main>
    <section id="skills" class="toad-fullscreen">
         <article class="skills">
             <div class="t-6">
                 <p>HTML5<span></span><span class="skills"></span></p>
             </div>
             <div class="t-6">
                 <p>CSS3<span></span><span class="skills"></span></p>
             </div>
             
             <div class="t-6">
                 <p>JS / jQuery<span></span><span class="skills"></span></p>
             </div>
             <div class="t-6">
                 <p>Vue.js<span></span><span class="skills"></span></p>
             </div>
             
             <div class="t-6">
                 <p>PHP / MySQL<span></span><span class="skills"></span></p>
             </div>
             <div class="t-6">
                 <p>Laravel<span></span><span class="skills"></span></p>
             </div>
             
             <div class="t-6">
                 <p>Photoshop<span></span><span class="skills"></span></p>
             </div>
             <div class="t-6">
                 <p>Illustrator<span></span><span class="skills"></span></p>
             </div>
         </article>
     </section>
 </main> -->

<!-- Skills  -->
<div class="container mt-5">
    <h1 class="text-center textColor ">
        Skills
    </h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="progress-title">HTML</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:65%; background:#97c513;">
                        <div class="progress-value">65%</div>
                    </div>
                </div>
                <h3 class="progress-title">CSS</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:100%; background:#f2545b;">
                        <div class="progress-value">100%</div>
                    </div>
                </div>
                <h3 class="progress-title">JAVASCRIPT</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:75%; background:#4286f4;">
                        <div class="progress-value">75%</div>
                    </div>
                </div>
                <h3 class="progress-title">BOOTSTRAP</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:30%; background:#21ff63;">
                        <div class="progress-value">30%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="container textColor">
        <div class="row">

            <div class="col-sm text-center">
                <img src="../../../assets/css3.png" alt="">
                <p>CSS3</p>
            </div>
            <div class="col-sm text-center">
                <img src="../../../assets/html.png" alt="">
                <p>HTML</p>
            </div>
            <div class="col-sm text-center">
                <img src="../../../assets/github.png" alt="">
                <p>Git</p>
            </div>
            <div class="col-sm text-center">
                <img src="../../../assets/gitlab.png" alt="">
                <p>Gitlab</p>
            </div>
            <div class="col-sm text-center">
                <img src="../../../assets/angularjs.png" alt="">
                <p>Angular</p>
            </div>
            <div class="col-sm text-center">
                <img src="../../../assets/mongodb.png" alt="">
                <p>MongoDB</p>
            </div>
            <div class="col-sm text-center">
                <img src="../../../assets/node-js.png" alt="">
                <p>NodeJs</p>
            </div>
            <div class="col-sm text-center">
                <img src="../../../assets/postgresql.png" alt="">
                <p>Postgres</p>
            </div>
        </div>
    </div> -->
</div>

<!-- end of Skills  -->
