<!-- Skills  -->
<!-- <div class="container mt-5">
    <h1 class="text-center textColor ">
        Skills
    </h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="progress-title mt-3">HTML</h3>
                <div class="progress mt-2">
                    <div class="progress-bar" style="width:65%; background:#97c513;">
                        <div class="progress-value">65%</div>
                    </div>
                </div>
                <h3 class="progress-title mt-3">CSS</h3>
                <div class="progress mt-2">
                    <div class="progress-bar" style="width:100%; background:#f2545b;">
                        <div class="progress-value">100%</div>
                    </div>
                </div>
                <h3 class="progress-title mt-3">JAVASCRIPT</h3>
                <div class="progress mt-2">
                    <div class="progress-bar" style="width:75%; background:#4286f4;">
                        <div class="progress-value">75%</div>
                    </div>
                </div>
                <h3 class="progress-title mt-3">BOOTSTRAP</h3>
                <div class="progress mt-2">
                    <div class="progress-bar" style="width:30%; background:#21ff63;">
                        <div class="progress-value">30%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container mt-5">
    <h1 class="text-center textColor ">
        Skills
    </h1>
    <div class="row">
        <div class="col">
            <div class="card h-100 shadow-sm"> <img src="../../../assets/html.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="progress mt-2">
                        <div class="progress-bar" style="width:65%; background: orange;">
                            <div class="progress-value">65%</div>
                        </div>
                    </div>
                </div>
                <h2 class="text-center">HTML</h2>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm"> <img src="../../../assets/css3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="progress mt-2">
                        <div class="progress-bar" style="width:100%; ">
                            <div class="progress-value">100%</div>
                        </div>
                    </div>
                </div>
                <h2 class="text-center">CSS</h2>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm"> <img src="../../../assets/angularjs.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="progress mt-2">
                        <div class="progress-bar" style="width:100%; background: red;">
                            <div class="progress-value">100%</div>
                        </div>
                    </div>
                </div>
                <h2 class="text-center">Angular</h2>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm"> <img src="../../../assets/gitlab.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="progress mt-2">
                        <div class="progress-bar" style="width:100%; background: orange;">
                            <div class="progress-value">100%</div>
                        </div>
                    </div>
                </div>
                <h2 class="text-center">GIT</h2>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm"> <img src="../../../assets/postgresql.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="progress mt-2">
                        <div class="progress-bar" style="width:100%; background: navy;">
                            <div class="progress-value">100%</div>
                        </div>
                    </div>
                </div>
                <h2 class="text-center">PostgreSQL</h2>
            </div>
        </div>
    </div>
</div>


<!-- end of Skills  -->